certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==49.0.0
idna==3.18
markdown-it-py==4.2.0
mdurl==0.1.2
pdfminer.six==20260107
pdfplumber==0.11.10
pillow==12.3.0
pycparser==3.0
pyfiglet==1.0.4
Pygments==2.20.0
pypdfium2==5.11.0
requests==2.34.2
rich==15.0.0
urllib3==2.7.0
